﻿<div>
    <div class="regular-page-wrap section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="page-content">
                        <div class="form-group">
                            <label>Adı</label>
                            <input type='text'
                                   class='form-control'
                                   id='RegisterName'
                                   placeholder='Name'
                                   [(ngModel)]='Name'
                                   name='Name'
                                   onChange={} />
                            <div class="form-group">
                                <label>Soyadı</label>
                                <input type='text'
                                       class='form-control'
                                       id='RegisterSurname'
                                       placeholder='Surname'
                                       [(ngModel)]='SurName'
                                       name='SurName'
                                       onChange={} />
                            </div>
                            <div class="form-group">
                                <label>Kullanıcı Adı</label>
                                <input type='text'
                                       class='form-control'
                                       id='RegisterUserName'
                                       placeholder='Username'
                                       [(ngModel)]='LoginName'
                                       name='LoginName'
                                       onChange={this.handleChange} />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type='email'
                                       class='form-control'
                                       id='RegisterEmail'
                                       placeholder='Email'
                                       [(ngModel)]='Email'
                                       name='Email'
                                       onChange={this.handleChange} />
                            </div>
                            <div class="form-group">
                                <label>Şifre</label>
                                <input type='password'
                                       class='form-control'
                                       id='RegisterPassword'
                                       placeholder='Password'
                                       [(ngModel)]='Password'
                                       name='Password'
                                       onChange={this.handleChange} />
                            </div>

                            <div class="form-group">
                                <label>Doğum Tarihi</label>
                                <!--<dp-date-picker [(ngModel)]="selectedDate" [config]="datePickerConfig"></dp-date-picker>-->
                                <angular2-date-picker (onDateSelect)="onDateSelect(Date)" 
                                                      [(ngModel)]="Date"
                                                      [settings]="settings">
                                </angular2-date-picker>
                            </div>
                            <div class="form-group">
                                <label>Şehir</label>

                                <select class="form-control" [(ngModel)]="cityName" (change)="getCountyVariables(cityName)">
                                    <option value="bos"> </option>
                                    <option value="Istanbul">Istanbul</option>
                                    <option value="Ankara">Ankara</option>
                                    <option value="Edirne">Edirne</option>
                                    <option value="Manisa">Manisa</option>
                                </select>

                            </div>
                            <div>
                                <label>Vilayet</label>
                                <select class="form-control" [(ngModel)]="countyId">
                                    <option *ngFor="let item of countyArea" [value]="item.countyId">{{item.countyName}}</option>
                                </select>
                            </div>
                            <div>
                                <label></label>
                            </div>
                            <div class="form-group">
                                <button type='button'
                                        class='btn btn-primary btn-block'
                                        (click)="getUserCreateData(cityName,countyId,Email,LoginName,Name,Password,SurName,Date)">
                                    Kayıt Ol
                                </button>
                                <button type='button'
                                        class='btn btn-primary btn-block'>
                                    Temizle
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>