﻿<div>
    <div class="regular-page-wrap section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="page-content">
                        <div class="form-group">
                            <label>LoginName</label>
                            <input type='text'
                                   class='form-control'
                                   id='LoginName'
                                   placeholder='loginName gir'
                                   name='LoginName'
                                   [(ngModel)]="loginName"
                                    />
                        </div>

                        <div className="form-group">
                            <button type='button'
                                    class='btn btn-primary btn-block'
                                    (click)="resetPassword(loginName)">
                               Sıfırla
                            </button>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>