﻿<div>
    <div class="regular-page-wrap section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="page-content">
                        <div class="form-group">
                            <label>LoginName||Email Adress</label>
                            <input type='text'
                                   class='form-control'
                                   id='LoginName'
                                   placeholder='please entering here username or email adress'
                                   name='LoginName'
                                   [(ngModel)]='loginName'
                                   onChange={} />
                        </div>
                        <div class="form-group">
                            <label> Password</label>
                            <input type='text'
                                   class='form-control'
                                   id='LoginPassword'
                                   placeholder='enter a password'
                                   name='LoginPassword'
                                   [(ngModel)]='pass'
                                    />

                            <label> Beni Hatırla</label>
                            <input type='checkbox'
                                   class='form-control'
                                   id='beniHatirla'
                                   placeholder='enter a password'
                                   name='beniHatirla'
                                   
                                   [checked]="beniHatirla"
                                   (change)="beniHatirla=!beniHatirla"
                                   />
                        </div>
                        <div className="form-group">
                            <button type='button'
                                    class='btn btn-primary btn-block'
                                    (click)="loginEvent(loginName,pass)">
                                Login
                            </button>
                            <button type='button'
                                    class="btn btn-primary btn-block"
                                    (click)="redirect()">
                                SifreSıfırla
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>