﻿<div>
    <div class="regular-page-wrap section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="page-content">
                        <div class="form-group">
                            <label>Adı</label>
                            <input type='text'
                                   class='form-control'
                                   id='RegisterName'
                                   placeholder='Name'
                                   [(ngModel)]='Name'
                                   name='Name'
                                   onChange={} />
                            <div class="form-group">
                                <label>Soyadı</label>
                                <input type='text'
                                       class='form-control'
                                       id='RegisterSurname'
                                       placeholder='Surname'
                                       [(ngModel)]='SurName'
                                       name='SurName'
                                       onChange={} />
                            </div>
                            <div class="form-group">
                                <label>Kullanıcı Adı</label>
                                <input type='text'
                                       class='form-control'
                                       id='RegisterUserName'
                                       placeholder='Username'
                                       [(ngModel)]='LoginName'
                                       name='LoginName'
                                       onChange={this.handleChange} />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type='email'
                                       class='form-control'
                                       id='RegisterEmail'
                                       placeholder='Email'
                                       [(ngModel)]='Email'
                                       name='Email'
                                       onChange={this.handleChange} />
                            </div>
                            <div class="form-group">
                                <label>Şifre</label>
                                <input type='password'
                                       class='form-control'
                                       id='RegisterPassword'
                                       placeholder='Password'
                                       [(ngModel)]='Password'
                                       name='Password'
                                       onChange={this.handleChange} />
                            </div>

                           
                            <div>
                                <label></label>
                            </div>
                            <div class="form-group">
                                <button type='button'
                                        class='btn btn-primary btn-block'
                                        (click)="usereditedData(Name,SurName,LoginName,Email,Password)"
                                        >
                                    Düzenle
                                </button>
                                <!--<button type='button'
                                        class='btn btn-primary btn-block'>
                                    Temizle
                                </button>-->
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>